.fa {
  margin-right: 5px;
}

#sign-main {
  margin-top: 30px;
}

#sign-main .h2 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

#sign-main .section {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  border-radius: 7px;
  width: 628px;
  margin: 0 auto;
}

#sign-main .section form {
  margin: 0 auto;
}

#sign-main .section form p {
  margin-bottom: 5px;
}

#sign-main .section form .form-common {
  margin-bottom: 24px;
}

#sign-main .section form .longWidth {
  width: 425px;
  height: 48px;
  border-radius: 7px;
}

#sign-main .section form .nickname {
  width: 318px;
  height: 48px;
  border-radius: 7px;
}

#sign-main .section form .text-input {
  border: 1px solid #f1f3fb;
  background-color: #f1f3fb;
  padding: 0 16px;
}

#sign-main .section form .text-input:focus {
  outline: 2px solid #01c3bc;
}

#sign-main .section form .text-input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#sign-main .section form .need-helper {
  margin-left: 25px;
}

#sign-main .section form input[name="join"] {
  margin-right: 5px;
}

#sign-main .section form .confirmBtn {
  background: #01c3bc;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 48px;
  color: #fff;
  margin-left: 15px;
}

#sign-main .section form .confirmBtn:hover {
  background: #00afa9;
}

#sign-main .section form .joinComplete {
  background: #01c3bc;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 48px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto 0;
}

#sign-main .section form .joinComplete:hover {
  background: #00afa9;
}

#sign-main .section .infoText {
  text-align: center;
  color: red;
}
