@import "common";

#sign-main {
  margin-top: 30px;
  .h2 {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
  }
  .section {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;

    form {
      margin: 0 auto;

      p {
        margin-bottom: 5px;
      }
      .form-common,
      .pw {
        margin-bottom: 24px;
      }
      .longWidth {
        @include inputLength(425px);
      }
      .nickname {
        @include inputLength(318px);
      }

      .text-input {
        border: 1px solid #f1f3fb;
        background-color: #f1f3fb;
        padding: 0 16px;

        &:focus {
          outline: 2px solid #01c3bc;
        }
        &:-webkit-autofill {
          transition: background-color 5000s ease-in-out 0s;
        }
      }
      .need-helper {
        margin-left: 25px;
      }
      input[name="join"] {
        margin-right: 5px;
      }
      .confirmBtn {
        @include btn(#01c3bc, 90px, 48px, #00afa9);
        margin-left: 15px;
      }
    }
    .joinComplete {
      @include btn(#01c3bc, 200px, 48px, #00afa9);
      margin: 0 auto;
    }
    .infoText {
      text-align: center;
      color: red;
    }
  }
}
