@mixin display($effect) {
  display: flex;
  align-items: center;
  justify-content: $effect;
}

@mixin btn($color, $width, $height, $hover-color) {
  background: $color;
  border-radius: 5px;
  border: none;
  width: $width;
  height: $height;
  color: #fff;
  &:hover {
    background: $hover-color;
  }
}

@mixin borderBtn($width, $height, $size) {
  border: 2px solid #e7eaf1;
  border-radius: 5px;
  background: #fff;
  width: $width;
  height: $height;
  color: #6a7684;
  font-size: $size;
  font-weight: 600;
  &:hover {
    background: #e7eaf1;
  }
}

@mixin inputLength($width) {
  width: $width;
  height: 48px;
  border-radius: 7px;
}