@import "common";

@mixin input($width, $length) {
  width: $width;
  height: 32px;
  border: 2px solid #f1f3fb;
  border-radius: 5px;
  padding-left: $length;
  background: #fff;
  &:focus {
    border: 2px solid #01c3bc;
    outline: none;
  }
  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}
@mixin img($url, $position) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
}

#articleForm-main {
  margin-top: 30px;
  .h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .section {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 1000px;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      .formWrap {
        @include display(space-between);
        margin: 0 auto;
        border-bottom: 1px solid #f1f3fb;
        padding: 15px 0;

        span {
          width: 140px;
          padding-left: 15px;
        }
        .inputWrap {
          width: 700px;
          .icon {
            @include borderBtn(60px, 30px, 16px);
            font-weight: 500;
            margin-right: 5px;
            padding-left: 0;
            text-align: center;
            margin-bottom: 0;
            line-height: 27px;
          }
          .checked{
            border: 2px solid #01c3bc;
            outline: none;
          }
          .displayNo{
            display: none
          }
        }
      }
      .borderBtn {
        @include btn(#01c3bc, 120px, 35px, #00afa9);
        margin: 30px auto 0;
        font-weight: 600;
        a {
          color: #6a7684;
          text-decoration: none;
        }
      }
    }

    .article-input {
      @include input(500px, 16px);
    }
    .react-datepicker-wrapper {
      input {
        @include input(300px, 35px);
        @include img("./img/calendar.svg", 10px);
      }
    }
    .countDom {
      display: flex;
      p {
        margin: 0;
        padding: 5px 10px;
      }
      .countBtn {
        border: 2px solid #f1f3fb;
        border-radius: 5px;
        background: #fff;
        width: 32px;
        height: 32px;
        &:hover {
          background-color: #f1f3fb;
        }
      }
      .minus {
        @include img("./img/remove.svg", center);
      }
      .plus {
        @include img("./img/add.svg", center);
      }
    }
    .optionSelector {
      border: 2px solid #f1f3fb;
      border-radius: 5px;
      width: 100px;
      height: 32px;
      padding-left: 5px;
      color: #6a7684;
      &:focus {
        border: 2px solid #01c3bc;
        outline: none;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    .addressInput {
      margin: 3px 5px 3px 0;
      border-radius: 5px;
      border: 2px solid #f1f3fb;
      height: 32px;
      padding-left: 10px;
      &:focus {
        border: 2px solid #01c3bc;
        outline: none;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    .zipcode {
      width: 88px;
    }
    .road,
    .jibun {
      width: 340px;
    }
    .detail {
      width: 275px;
    }
    .codeFinder {
      border: 2px solid #f1f3fb;
      border-radius: 5px;
      background: #fff;
      height: 32px;
      color: #6a7684;
      &:hover {
        background-color: #f1f3fb;
      }
    }
    .textarea {
      width: 685px;
      height: 450px;
      resize: none;
      border: 2px solid #f1f3fb;
      border-radius: 5px;
      padding: 5px 10px;
      &:focus {
        border: 2px solid #01c3bc;
        outline: none;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }
}

.postCodeDom {
  display: flex;
  justify-content: start;
  .postCode_btn {
    width: 60px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #e7eaf1;
    background: #fff;
    color: #6a7684;
    &:hover {
      background-color: #e7eaf1;
    }
  }
}

@media screen and (max-width: 1400px) {
  #articleForm-main {
    .section {
      width: 935px;
    }
  }
}

.fa {
  margin-right: 5px;
}
