@import "common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin input($length) {
  height: 32px;
  border: 2px solid #f1f3fb;
  border-radius: 5px;
  padding-left: $length;
  background: #fff;
  &:focus {
    border: 2px solid #01c3bc;
    outline: none;
  }
  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}
@mixin img($url, $position) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
}

#articleForm-main {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 1191px;
  
  .h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .section {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      .formWrap {
        @include display(space-between);
        margin: 0 auto;
        border-bottom: 1px solid #f1f3fb;
        padding: 15px 0;

        span {
          width: 140px;
          // padding-left: 15px;
        }
        .inputWrap {
          .authenticationWrap {
            display: flex;
            align-items: center;
            .authenticationBtn {
              @include borderBtn(60px, 30px, 16px);
              margin-right: 5px;
              padding-left: 0;
              text-align: center;
              margin-bottom: 0;
              line-height: 27px;
            }
            .active {
              border: 2px solid #01c3bc;
              outline: none;
            }
          }
        }
      }
      .borderBtn {
        @include btn(#01c3bc, 120px, 35px, #00afa9);
        font-weight: 600;
        a {
          color: #6a7684;
          text-decoration: none;
        }
      }
      .enrollBtn {
        margin: 30px auto 0;
      }
    }

    .article-input {
      @include input(16px);
    }
    .react-datepicker-wrapper {
      input {
        @include input(35px);
        @include img("./img/calendar.svg", 10px);
      }
    }
    .countDom {
      display: flex;
      .members {
        width: 40px;
        text-align: center;
        background: #fff;
        border: none;
      }
      .countBtn {
        border: 2px solid #f1f3fb;
        border-radius: 5px;
        background: #fff;
        width: 32px;
        height: 32px;
        &:hover {
          background-color: #f1f3fb;
        }
      }
      .minus {
        @include img("./img/remove.svg", center);
      }
      .plus {
        @include img("./img/add.svg", center);
      }
    }
    .optionSelector {
      border: 2px solid #f1f3fb;
      border-radius: 5px;
      width: 100px;
      height: 32px;
      padding-left: 5px;
      color: #6a7684;
      &:focus {
        border: 2px solid #01c3bc;
        outline: none;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    .addressInput {
      margin: 3px 5px 3px 0;
      border-radius: 5px;
      border: 2px solid #f1f3fb;
      height: 32px;
      padding-left: 10px;
      &:focus {
        border: 2px solid #01c3bc;
        outline: none;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    .zipcode {
      width: 88px;
    }

    .codeFinder {
      border: 2px solid #f1f3fb;
      border-radius: 5px;
      background: #fff;
      height: 32px;
      color: #6a7684;
      &:hover {
        background-color: #f1f3fb;
      }
    }
    .textarea {
      height: 450px;
      resize: none;
      border: 2px solid #f1f3fb;
      border-radius: 5px;
      padding: 5px 10px;
      &:focus {
        border: 2px solid #01c3bc;
        outline: none;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }
}

.postCodeDom {
  display: flex;
  justify-content: start;
  .postCode_btn {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #e7eaf1;
    background: #fff;
    color: #6a7684;
    &:hover {
      background-color: #e7eaf1;
    }
  }
}

.fa {
  margin-right: 5px;
}
/**********************************************************

수정하기 페이지 디자인

***********************************************************/
#articleForm-main {
  .editBtnWrap {
    @include display(center);
    .editBtn {
      margin: 30px 10px 0;
    }
  }
  .datepicker {
    display: inline-flex;
    align-items: center;
    .react-datepicker-wrapper {
      width: 50px;
      input {
        width: 10px;
        padding-left: 37px;
      }
    }
    .dday {
      margin: 0;
    }
  }
  .membersSpan {
    width: 37px !important;
    line-height: 30px;
  }
}
/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  #articleForm-main{
    .section{
      padding: 15px;
      font-size: 12px;
      form{
        .formWrap{
          span{
            width: 80px;
            text-align: center;
            font-size:14px ;
          }
          .article-input,
          .road,
          .jibun,
          .detail,
          .textarea
          {
            width: 225px;
          }
          .inputWrap{
            width: 225px;
            margin-left: 7px;
            .applycheck{
              font-size: 12px;
            }
          }
        }
      }
    }
    .react-datepicker-wrapper{
      input{
        width: 225px;
        font-size: 12px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  #articleForm-main{

    .section{
      padding: 30px;
      form{
        .formWrap{
          span{
            width: 140px;
            font-size:16px ;
          }
          .article-input,
          .road,
          .jibun,
          .detail,
          .textarea
          {
            width: 250px;
          }
          .inputWrap{
            width: 250px;
            margin-left: 0;
          }
        }
      }
    }
    .react-datepicker-wrapper{
      input{
        width: 250px;
        font-size: 14px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #articleForm-main{
    .section{
      padding: 30px;
      font-size: 16px;
      form{
        .formWrap{
          .article-input,
          .road,
          .jibun,
          .textarea
          {
            width: 450px;
          }
          .inputWrap{
            width: 450px;
            margin-left: 0;
            .applycheck{
              font-size: 16px;
            }
          }
        }
      }
    }
    .react-datepicker-wrapper{
      input{
        width: 450px;
        font-size: 16px;
      }
    }
  }
}