@import "common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#emptyPage{
  height: 84vh;
  padding: 30vh 0;
  font-family: "Baeum";
  .backToHome{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 4px solid #006561;
    a{
      text-decoration: none;
      color: black;
    }
  }
}