@import "common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#article-main {
  margin-top: 30px;
  min-height: 1191px;
  
  section {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    .titleWrap {
      padding-bottom: 20px;
      border-bottom: 1px solid #e7eaf1;
      text-align: center;
      .headerState {
        @include display(center);
        #articleState {
          width: 60px;
          height: 22px;
          font-size: 14px;
          line-height: 22px;
          margin-right: 10px;
        }
        .article-header {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 12px;
        }
      }
      .article-info {
        font-size: 13px;
        margin-bottom: 0;
        color: gray;
      }
    }
    .wrapper {
      @include display(start);
      margin: 0 auto;
      border-bottom: 1px solid #f1f3fb;
      padding: 20px 0;
      width: 100%;
      .subject {
        padding-left: 15px;
        text-align: center;
        color: gray;
      }
      .address {
        margin-bottom: 0;
        line-height: 30px;
      }
    }
    .profile {
      float: right;
      bottom: 24px;
      position: relative;
      right: 15px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #333;
      }
    }
    .btnWrap {
      text-align: center;
      margin-top: 30px;
      .btnGreen {
        @include btn(#01c3bc, 120px, 35px, #00afa9);
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

/**********************************************************

반응형
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,

***********************************************************/
@include media-breakpoint-only(xs) {
  #article-main {
    .subject {
      width: 150px;
    }
  }
}
@include media-breakpoint-only(sm) {
  #article-main {
    .subject {
      width: 160px;
    }
  }
}
@include media-breakpoint-only(md) {
  //768px
  #article-main {
    .subject {
      width: 170px;
    }
  }
}
@include media-breakpoint-only(lg) {
  #article-main {
    .subject {
      width: 180px;
    }
  }
}
@include media-breakpoint-only(xl) {
  //1200px
  #article-main {
    .subject {
      width: 190px;
    }
  }
}
@include media-breakpoint-only(xxl) {
  //1400px
  #article-main {
    .subject {
      width: 200px;
    }
  }
}