@import "common";

#article-main {
  margin-top: 30px;

  section {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    .titleWrap {
      padding-bottom: 20px;
      border-bottom: 1px solid #e7eaf1;
      text-align: center;
      .headerState {
        @include display(center);
        #articleState {
          width: 60px;
          height: 22px;
          font-size: 14px;
          line-height: 22px;
          margin-right: 10px;
        }
        .article-header {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 12px;
        }
      }
      .article-info {
        font-size: 13px;
        margin-bottom: 0;
        color: gray;
      }
    }
    .wrapper {
      @include display(space-between);
      margin: 0 auto;
      border-bottom: 1px solid #f1f3fb;
      padding: 20px 0;
      width: 100%;
      .subject {
        width: 140px;
        padding-left: 15px;
        text-align: center;
        color: gray;
      }
      .content {
        width: 1000px;
      }
      .address {
        margin-bottom: 0;
        line-height: 30px;
      }
    }
    .profile {
      float: right;
      bottom: 24px;
      position: relative;
      right: 15px;
      a {
        text-decoration: none;
        color: #333;
      }
    }
    .btnWrap {
      text-align: center;
      margin-top: 30px;
      .btnGreen {
        @include btn(#01c3bc, 120px, 35px, #00afa9);
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #article-main {
    .content {
      width: 340px !important;
    }
  }
}
