@import "common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#sign-main {
  margin-top: 30px;
  min-height: 1191px;
  .h2 {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
  }
  .section {
    background: #fff;
    @include display(center);
    padding: 40px;
    border-radius: 7px;
    margin: 0 auto;

    form {
      margin: 0 auto;

      p {
        margin-bottom: 5px;
      }
      .form-common {
        margin-bottom: 24px;
      }
      .text-input {
        border: 1px solid #f1f3fb;
        background-color: #f1f3fb;
        padding: 0 16px;

        &:focus {
          outline: 2px solid #01c3bc;
        }
        &:-webkit-autofill {
          transition: background-color 5000s ease-in-out 0s;
        }
      }
      .confirmBtn {
        @include btn(#01c3bc, 90px, 48px, #00afa9);
        margin-left: 15px;
      }
      .joinComplete {
        @include btn(#01c3bc, 200px, 48px, #00afa9);
        @include display(center);
        margin: 25px auto 0;
      }
    }
    .infoText {
      text-align: center;
      color: red;
    }
  }
}

/**********************************************************

반응형
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,

***********************************************************/
@media (min-width: 250px) {
  #sign-main {
    .section{
      width: 335px;
    }
    .longWidth {
      @include inputLength(290px);
    }
    .nickname {
      @include inputLength(185px);
    }
    .infoText {
      font-size: 14px;
    }
  }
}

@include media-breakpoint-up(sm) {
  #sign-main {
    .section{
      width: 628px;
    }
    .longWidth {
      @include inputLength(425px);
    }
    .nickname {
      @include inputLength(318px);
    }
    .infoText {
      font-size: 16px;
    }
  }
}