@import "common";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#siginComplete-main {
  margin-top: 30px;
  min-height: 1191px;
  .titleWrap{
    margin-bottom: 40px;
    .h2 {
      text-align: center;
      font-weight: bold;
    }
  }

  .message{
    @include display(center);
    flex-direction: column;
    p{
      margin-bottom: 20px;
      text-align: center;
    }
    .goHome{
      @include btn(#01c3bc, 200px, 48px, #00afa9);
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

/**********************************************************

반응형

***********************************************************/
@media (min-width: 250px) {
  #siginComplete-main{
    p{
      font-size: 17px;
    }
  }
}

@include media-breakpoint-up(sm) {
  #siginComplete-main{
    p{
      font-size: 25px;
    }
  }
}